.main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    .integrantes{
      position: absolute;
      bottom: 0;
      color: rgba(240, 248, 255, 0.516);
    }
    .form-card{
      display: flex; flex-direction: column; justify-content: center; align-items: center;
      width: 450px;    
      height: 500px;  
      background: white ;
      border-radius: 5px;

      .options{
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        .bot-generator{
            width: 130px;
            border-radius: 3px;
        }
      }
    }

    .result-box{
      display: flex; flex-direction: column; padding: 0px;
      width: 800px;
      height: 500px;    
      background: white ;
      border-radius: 5px;
      overflow: auto;
    }
  }

  button.active{
    background: rgb(0, 80, 252);
    color: white;
    font-weight: 600;
    border: none;
  }



  @media(max-width: 768px){
    .main-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      font-size: 0,3rem;
      .form-card{
        width: 95%;
      }
      .result-box{
        width: 95%;
      }
    }
  }